workflows/sqs-processing-workflow.json
{
  "Comment": "Workflow responsável pelo envio de mensagens para Amazon SQS.",
  "StartAt": "SendMessageToQueue",
  "States": {

    "SendMessageToQueue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/123456789012/file-processing-queue",
        "MessageBody": {
          "filename.$": "$.filename",
          "event.$": "$.event",
          "status.$": "$.status"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "QueueProcessingFailed"
        }
      ],
      "Next": "QueueProcessingSucceeded"
    },

    "QueueProcessingSucceeded": {
      "Type": "Succeed",
      "Comment": "Mensagem enviada com sucesso para a fila SQS."
    },

    "QueueProcessingFailed": {
      "Type": "Fail",
      "Error": "SQSSendMessageError",
      "Cause": "Falha ao enviar mensagem para a fila SQS."
    }

  }
}
